*{

	padding:0 ;
	margin: 0;
	box-sizing: border-box;
}

html{
	scroll-behavior: smooth;
}

body {

}

/*
#gmap-canvas {
	height: 60vh;
	width: 100%;
}

#map-bulan {
	height: 60vh;
	width: 100%;
}*/

body {
	/*background-color: #0a192f;*/
	background-color: #0a192f;
	background-image: radial-gradient(#8a0f23 ,#240b36 );
	background-color: rgba(0, 0, 0, 0.01);

}

h2	{
	
	text-align: center;
	font-family: 'Roboto Mono', monospace;
	color: #fe9677;
}

div + .jumbotron-content-h1 {
	font-family: 'Roboto Mono', monospace;
	color: #fe9677;

}

#main_page_div{
	background-color: *#41436A;
	/*background-image: linear-gradient(to top, #0a192f ,#6c2d46 );*/

	/*background-image: radial-gradient(#240b36,#5c0a18 );*/
	background-image:url(./images/,.jpg) ;
	/*background-size: cover;*/

  background-color: rgba(0, 0, 0, 0.25);
}

/*media*/
/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {

}
/**/

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (max-width: 767px) {
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
	#map-bulan{
		width: 100% !important;
	margin: auto;

	}

}
#nav1 {
	text-decoration: none;
	color: #f64668 !important;
}
.navlink{
	text-decoration: none;
}
ul#nav1 li.nav-item a.navlink{
	text-decoration: none;
	color: #f64668 !important;
}

#ul_items{
	color:#f64668 ;
}
#about_me_section{
	color: #f64668;
	font-family: 'Merriweather', serif;
	
}

.jumbotron-content-h1 {
	color: #f64668;
	font-family: 'Merriweather', serif;
}

#jumbotron-content-h2 {
	color: #984063;
	text-align: unset !important;
	
}

#jumbotron-content-p {
	color: #984063;
	font-family: 'Roboto Mono', monospace;
	

}

#navbar {
	font-family: 'Merriweather', serif;
	/*background-image: linear-gradient(to bottom, #660f56 , #fe9677);*/
	background-image: radial-gradient(#240b36,#5c0a18 );
	padding: 0 !important;
	color: #f64668;
}

#about_me_div {
	
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 15px;
	margin-bottom: 15px;
}
#my_jumbotron {
/*
	background: #EB5757;   fallback for old browsers 
	background: -webkit-linear-gradient(to top, #000000, #EB5757);  Chrome 10-25, Safari 5.1-6 
	background: linear-gradient(to top, #000000, #EB5757);  W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ 
	font-family: 'Roboto Mono', monospace;
*/
	
	background-color: *#41436A;
	/*background-image: linear-gradient(to top, #0a192f ,#6c2d46 );*/

	/*background-image: radial-gradient(#240b36,#5c0a18 );*/
	background-image:url(./images/,.jpg) ;
	background-size: cover;

  background-color: rgba(0, 0, 0, 0.25);
	padding-top: 20px;
	width: 100%;
	

	
	/*#41436A -dark-lightblue
		#984063 -maroon
		#f64668 -pinkishred
		#fe9677 -yelloworange
		#0a192f , #800000 blue dark
	*/

}

#logo {

	width:80px;
	border-radius: 180px;
	

}

#anchor_projects{
	text-align: center;
	font-family: 'Merriweather', serif;
	color: #fe9677;
}


#contact_form {
	font-family: 'Roboto Mono', monospace;
	color: #fe9677;
}



#map-bulan{
	
	width: 100%;
	height: 60vh;
	border:0;

}

#contact_me {
	/*width: 400px;*/
	/*margin-left: auto;
	margin-right: auto;
	display: block;*/
	color: yellow;
}


#pre-footer > div {

	border-top: 2px ,yellow;
	font-family: 'Merriweather', serif;
	background-color: #0a192f;
	background-image: linear-gradient(to right, #0a192f , #41436a);
	padding: 0 !important

	/*#0a192f*/

	
	display: inline-block;
	
	vertical-align: top;

}



#footer {
	font-family: 'Merriweather', serif;
	background-image: linear-gradient(to right, #984063 , #41436a);
	padding: 0 !important;
	color: #fe9677;
}

#demo {
	width: 50%;
	margin: auto;
}

/*#carousel-control {
	width: 800px;
}
*/
.picme {
	border-radius: 180px;
	margin-left: auto;
	margin-right: auto;
	display: block;	
}

.about_me_p {
	font-family: 'Roboto Mono', monospace;
	color: #984063;
	/*text-align: justify-center;*/
}


.card-img-top {
	width: 100%;
}

.span-html {
	background-color: Orange;
	color: white;
	border-radius: 70px;
	padding-left: 3px;
	padding-right: 3px;
	margin: auto;
}

.span-CSS {
	background-color: Blue;
	color: white;
	border-radius: 70px;
	padding-left: 3px;
	padding-right: 3px;
	margin: auto;
}

.span-BS {
	background-color: purple;
	color: white;
	border-radius: 70px;
	padding-left: 3px;
	padding-right: 3px;
	margin: auto;
}

.card-title{
	font-family: 'Merriweather', serif;

}

.card-text {
	font-family: 'Roboto Mono', monospace;

}

.carousel-inner {
  /* width: 500px;
   height: 550px;*/
   margin: auto;
   padding-bottom: 40px;
   width:100%;
   max-height: 550px !important;
}

.carousel-item{

}

.card{
	width:500px
}

.carousel-indicators {
	margin: auto;
}

.carousel-indicators li {
	background-color: #f64668;
}

.fa-brands {
	color: #984063;
}

a.socialmedia_icons:hover, a.socialmedia_icons:active {
	
  /*color: #f64668;*/

  color: #f64668;
  text-shadow: 0 0 3px ##ff6600;
  font-size: 150%;
  margin: 10px;
  height: 60px;
  width: 60px;

}

.follow {
	color: #f64668;
}

.spacing {
	padding-top: 2rem;
	padding-bottom: 2rem;
}

span.hover_effect_name:hover, span.hover_effect_name:active {
  
  color: #f64668;
  text-shadow: 0 0 3px #f64668;
  font-size: 150%;
  margin: 10px;
  height: 60px;
  width: 60px;

}

